.edit-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  overflow-x: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.edit-product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #333;
}

.image-upload-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.product-image-preview {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.image-upload-input {
  display: none;
}

.image-upload-label {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-upload-label:hover {
  background-color: #0056b3;
}

.form-group-edit {
  width: 100%;
  margin-bottom: 1rem;
  
}

.form-group-edit label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

.form-group-edit input {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group-edit input:focus {
  border-color: #007bff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.cancel-button,
.save-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #b02a37;
}

.save-button:hover {
  background-color: #0056b3;
}
