.create_account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 2rem; */
  padding-top: 2rem;
}

.create_account h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 0.5rem;
}

.password_container_register {
  position: relative;
}

.password_toggle_register {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.create_account p {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-top: -0.5rem;
}

.signup_image_container {
  position: absolute;
  left: 6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_image {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.create_form_with_border {
  background: #fff;
  box-shadow: -0.5rem 0 1.5rem rgba(20, 19, 19, 0.1),
    0.5rem 0 1.5rem rgba(20, 19, 19, 0.1), 0 1.5rem 1.5rem rgba(20, 19, 19, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  position: absolute;
  right: 6rem;
}

.create_form {
  width: 100%;
  max-width: 40rem;
}

.input_group {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
}

.input_group div {
  flex: 1;
  min-width: 10rem;
}

.create-heading-label {
  display: block;
  font-size: 0.875rem;
  color: #444;
  margin-bottom: 0.35rem;
  font-weight: bold;
}

.create_form input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.create_form input:focus {
  border-color: #007bff;
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-container input {
  margin: 0;
  width: 20px;
  height: 20px;
}

.checkbox-container span {
  color: #555;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.account_create_button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.account_create_button:hover {
  background-color: #0056b3;
}

.account_create_button:disabled {
  background-color: #007bff6f;
  cursor: not-allowed;
}

.already_sign_in {
  display: flex;
  justify-content: center;
  gap: 0.23rem;
}

.terms-link {
  background: none;
  border: none;
  cursor: pointer;
  color: #6b3eff;
  font-size: 0.9rem;
}

.create-sign-in-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #6b3eff;
  font-size: 0.9rem;
}

.create-sign-in-btn:hover {
  text-decoration: underline;
}
